.social-row {
  margin: 0 auto 5% auto;

	width: 21%;

	background-color: white;

	box-sizing: border-box;
	border-radius: 25px;
}

.contact-row {
	width: 1160px;

	margin: 0 auto;

	#contact-details {

		.detail-componet{

			color: white;
			.icon-holder {
				display: inline-block;
				position: relative;
				top: 0px;
				left: 28px;

				margin-right: 0.5rem;

				width: 48px;

        text-align: center;
				line-height: inherit;
			}

			.icon-text-holder {
				display: inline-block;

				padding: 0 0 18px;
				margin-left: 29px;

				text-align: left;
				.work-time {
					font-size: 1rem;
					text-align: center;
				}

				p {
					margin: 0;
					padding: 0;

					font-size: 14.4px;
					line-height: 23px;

					animation: none;
				}
			}
		}
	}
}

/* ==========================================================================
                           Mail-Leaf
   ========================================================================== */

@import "compass/css3";


// General
*, *:before, *:after {  box-sizing: border-box; }


// Envelope
.envelope-wrapper {
  display:inline-block;
	position:relative;
	top:-134px;
	left: 28px;
	&:after{
		  content: "";
		   position: absolute;
		   left: 0;
		   top: 144px;
		   width: 317px;
		   height: 100px;
		   background: #256a98;
		   z-index: -1;
	}
}
.envelope{
  margin: 2em auto 0;
  position:relative;
  z-index: 0;
  display:inline-block;
}
.envelope-top {
  width: 0;
  height: 0;
  z-index: 0;
  position: relative;
  -webkit-transform-origin: top;
  -webkit-transform: translate(0px,0px) scale(1) rotateX(0deg);
  @include transition( 0.5s ease-in .4s forwards, z-index 1s ease-out .5s);
  margin-top:7em;
  border-style: solid;
  z-index:3;
  border-width: 7em 10em 0 10em;
  border-color: #256a98 transparent transparent  transparent;
  .active & {
    z-index:0;
    @include transition( 0.5s ease-in 0s forwards, z-index 1s ease-in-out .5s);
    -webkit-transform-origin: top;
    -webkit-transform: translate(0px,0px) scale(1) rotateX(-180deg);
  }
}
.envelope:after,
.envelope:before{
	content:'';
	display: block;
	position: absolute;
	top: 7em;
  z-index:4;
	border-style: solid;
}
.envelope:after{
  width: 0;
  height: 0;
  right: 0;
  border-width: 6.2em 10em 6.2em 0;
  border-color: transparent #2a7fb5 transparent transparent;
}
.envelope:before{
  width: 210px;
  height: 180px;
  border-width: 12.4em 0 0 20.1em;
  border-color: transparent transparent transparent #3596da;
}
.active .card {
	top:-20px;
  	@include transition(top 0.5s ease-in-out .5s);
}
.card {
	width:280px;
	height: 180px;
	position: absolute;
	top:120px;
  left: 20px;
	z-index: 2;
	background: white;
  padding:1.5em 1.5em 0 1.5em;
	border-radius: 5px;
  @include transition(top 0.5s ease-in-out);
	text-align: center;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	color: #919499;
}


// Button
.email-button {
  background-color: #E74C3C;
  border: 1px solid #b24c45;
  color:white;
  text-align:center;
  font-weight:bold;
  font-size:1.5em;
  letter-spacing:2px;
  text-transform:uppercase;
  padding:.75em .5em;
  line-height:1em;
  display:inline-block;
  cursor:pointer;
  position:absolute;
  @include border-radius(0px 4px 4px 0);
  @include box-shadow(1px 2px #b24c45);
  @include transition(background-color 200ms);
  bottom:0em;left:-.5em;
  &:before {
    content:"";
    display: block;
    position: absolute;
    top: -15px;
    border-style: solid;
    width: 0;
    height: 0;
    left: 0;
    border-width: 0 1px 14px 11px ;
    border-color: transparent transparent darken(#b24c45, 5%) transparent;
  }
  &:hover {
    background-color: #B74C3B;
  }
}
