.contact-container {
	.contact-row {
		width: 1160px;
		margin: 0 auto;
		padding: 2rem 1rem;

		#contact-details {
			.detail-componet{
				margin-left: 1.5rem;
				&:nth-of-type(1) {
						margin-left: 3.9rem;
				}

				display: inline-block;
				.icon-holder {
					display: inline-block;
					line-height: inherit;
					position: relative;
			    top: 0px;
					margin-right: 0.5rem;
				}

				.icon-text-holder {
					display: inline-block;
					text-align: left;
					padding: 0 0 18px;

					&.work-time-component {
						position: absolute;
						top:53px;

					}

					.work-time-days {
						font-size: 0.7rem;
						text-align: center;
					}
					.work-time-title {
						font-size: 1rem;
						text-align: center;

					}
					.work-time {
						font-size: 0.65rem;
						text-align: center;
					}

					p {
						font-size: 1rem;
						line-height: 23px;


						background: transparent;
						border: 0;
						margin: 0;
						padding: 0;
						vertical-align: baseline;
						outline: 0;

						animation: none;

						position: none;

						font-family: none;
						text-shadow: none;

						font-size: none;

						.address {
							max-width: 267px;
						}
					}

				}
			}
		}

	}
}

#pano {
	 float: left;
	 height: 100%;
	 width: 45%;
 }
 #map {
 	 float: left;
 	 height: 100%;
 	 width: 45%;
  }
