       #map, #route {
         width:280px;
         height:280px;
         overflow-y:auto;
         float:left;
         background-color:white;
         margin:20px 20px 20px 20px;
        }
		
		#contacts {
		   background-color:black;
		}
		
		#contacts img {
		   margin:0px 25px 0px 25px;
		  
		}
		
		p {
			float: left;
			margin-right:10%;
		}

		.fb-page {
		  margin:20px 20px 20px 20px;
		}
		
		#method {
		  display:none;
		}
		.inline {
		    width:20px;
		}