body {
	overflow-x: hidden;
}

.page.main-article {
    background-image: linear-gradient(white 50%, rgba(247, 247, 247, 0.5));

	.inner {
		position: relative;
		padding: 20px 20px 40px;

		h1 {
			position: relative;
			cursor: default;
			height: auto;

			animation-name: headingSlide;
			animation-duration: 1.5s;
			
			top: 0;
		    padding: 1.5rem;

		    color: white;
		    background-color: #2E2E2E;
		    background-image: url(/content/images/page/header-pattern.png);
		    background-position: left;

		    border-radius: 7px;

		    transition: 1s;
		}

		p {
			animation-duration: 2s;
			animation-name: fadeInRightBig;

			position: relative;
			border-left: 5px solid #1F8475;
			padding-left: 20px;

			&:after {
				content:''; 
		
				position:absolute; 
				bottom: 0;
				left: 0;
			}

			&:nth-child(odd) {
				animation-name: fadeInLeftBig;
			}
		}
	}
}

@keyframes headingSlide {
	0% {
		top: -9999px;
	}

	80% {
		top: 3rem;
	}

	100% {
		top: 0;
	}
}

@media only screen and (min-width: 600px) {
	.page.main-article {

		.inner {

			h1 {
				height: 5rem;

			    &:hover {
			    	text-shadow: 2px 2px 10px rgb(255, 255, 255);
			    	padding: 1.3rem;
			    	font-size: 2.25rem;
			    }
			}
		}
	}
}