/* Common styles */

.pricing {

	display: flex;

	flex-wrap: wrap;

	justify-content: center;
	width: 100%;
	margin: 0 auto 3em;

	&.pricing-plan {


		.pricing-item {
			position: relative;
			display: flex;
			flex-direction: column;
			align-items: stretch;
			text-align: center;

			flex: 0 1 330px;

			padding: 2em 4em;
			cursor: default;
			color: #fff;
			margin: 1em;
			border: 1px solid #5c6552;
			max-width: 295px;
			background-color: #FFF;

			&:hover::after {
			  content: '';
			  pointer-events: none;
			  position: absolute;
			  top: -5px;
			  left: -5px;
			  width: 100%;
			  height: 100%;
			  box-sizing: content-box;
			  border: 5px solid #8bc34a;
			}
		}

		.pricing-title {
		  color: gray;
		  font-size: 1.5em;
			min-height: 80px;
		  margin: 0 0 0.5em 0;
		  padding: 0 0 0.5em;
		}

		.pricing-price {
		  font-size: 2em;
		  margin: 0 0 0.5em 0;
		  font-weight: bold;
		  color: #85c34a;

			.pricing-currency {
			  font-size: 0.5em;
			}

			.pricing-period {
			  font-size: 0.35em;
			  padding: 0 0 0 0.5em;
			  color: #646D5B;
			}
		}


		.pricing-feature-list {
		  margin: 0;
		  padding: 0.25em 0 8em;
		  list-style: none;
		  text-align: center;
		  color: #81867D;

			.pricing-feature {
			  padding: 0.25em;
			}
		}
	}
}


@media screen and (min-width: 66.250em) {
  .pricing-plan .pricing-item {
    margin: 1%;;
  }
  .pricing-plan .pricing-item:nth-child(2) {
    border-right: none;
    border-left: none;
  }
}
