.page.main-article.sponsors {
	.inner {

			text-align: center;

			p {
				border-left: none;
				display: inline-block;
				width: 100%;
    			height: auto;
    			padding-left: 0px;
				border-radius: 7px;
				background-image: url(../content/images/page/page-bg.png);
				background-repeat: no-repeat;
				background-position: center center;
				background-attachment: fixed;
				background-size: cover;
				overflow: hidden;

				img {	
					width: 310px;
					height: 80px;
					border-radius: 10px;			
					padding-right: 50px;
					padding-left: 50px;
					margin-bottom: 40px;
					margin-top: 40px;
					border: none;
					transition: all 700ms ease;
			}
				img:hover {
					animation-name: sponsor-animation;
					animation-duration: 2.5s;
					animation-iteration-count: infinite;
			    	border: 1px solid rgba(255,255,255, 0.4);
				}
		}
	}
}

@keyframes sponsor-animation {
  0% { box-shadow: 0 0 0 rgba(255,255,255, 0.68), 0 0 0 rgba(255,255,255, 0.1) inset ; }
  50% { box-shadow: 1px 1px 120px rgba(255,255,255, 0.68), 1px 1px 120px rgba(255,255,255, 0.1) inset ; }
  100% { box-shadow: 0 0 0 rgba(255,255,255, 0.68), 0 0 0 rgba(255,255,255, 0.1) inset ; }

}
