.tag-template,
.archive-template {

  img {
    border-radius: 4px;
  }

  .post-title {
    font-size: 18px;
    font-weight: 300;
    margin: 14px 0 20px 10px;
  }

  .time {
    position: absolute;
    top: -17px;
    left: 50%;
    width: 40px;
    height: 44px;
    margin-left: -20px;
    color: #fff;
    text-align: center;
    font-size: 12px;

    time {
      display: flex;
      flex-direction: column;
      height: 100%;
      border-radius: 4px;
      background-color: #59A426;

      > span {
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;

        &:nth-child(1) {
          font-size: 10px;
          height: 30px;
          border-bottom: 1px solid rgba(0,0,0, .1);
        }

        &:nth-child(2) {
          flex: 0 1 100%;
          border-top: 1px solid rgba(255,255,255, .1);
          font-size: 18px;
        }
      }
    }
  }
}
