.who-we-are {
  background-color: rgba(162, 162, 162, 0.7);

  .who-we-are-content {
    p {
      position: relative;

      margin: 2em 0;
      
      color: #fff;

      .who-we-are-video {
        z-index: 2;
        float: right;
        position: relative;
        top: 5px;

        width: 39%;
        height: 16rem;

        box-sizing: border-box;
        border-radius: 25px;
        border: 10px solid white;

        background-color: #7B7B7B;
        background-size: contain;
      }
    }

    &:after {
      content: "";
      display: table;
      clear: both;
    }
  }
}
