.who-we-are {
  background-color: rgba(174, 65, 65, 0.74);

  .who-we-are-main {
  }

  .who-we-are-content {
    p {
      position: relative;
    }

    &:after {
      content: "";
      display: table;
      clear: both;
    }
  }
}
