.content-home .post {
  background-color: #fff;
}

.content-home .post.featured {
  background-image: url(../img/assets.svg#featured);
  background-position: 100% 100%;
  background-repeat: no-repeat;
  background-size: 50px 50px;
}

.content-home .wrapper {
  height: 100%;
  padding-top: 40px;
}

.content-home h1 {
  font-size: 34px;
  margin-bottom: 0;
  line-height: 1.4;
}

.content-home h2 a,
.content-home h1 a {
  color: #3a4042;
  text-decoration: none;
}

.content-home h2 a:hover,
.content-home h1 a:hover {
  color: #4f9222;
  text-decoration: none;
}

a.more,
.older-posts,
.newer-posts {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  text-align: center;
  padding: 10px 30px;
  border-radius: 4px;
  background-color: #479812;
}

.older-posts,
.newer-posts {
  color: #fff !important;
}

a.more:hover,
.older-posts:hover,
.newer-posts:hover {
  color: #fff;
  border-color: #222;
  text-decoration: none;
}

a.more:hover {
  background-color: #59a426;
}

.content-home .post .inner {
  padding: 30px 20px;
}

.homepage-container {

  .homepage-row {
    width: 100%;

    box-sizing: border-box;

    .row-content {
      width: 1160px;

      margin: 0 auto;
      padding: 2rem 1rem;

      @extend %cf;

      h2 {
        margin-bottom: 2rem;

        font-size: 2.5em;
        text-align: left;
      }
    }

    &:nth-child(even) {
      .row-content {
        h2 {
          // text-align: right;
        }
      }
    }
  }
}
