$mainWidth: 1160px;

$green: #59A426;
$greenSemiTransparent: rgba(89,164,38,0.7);
$blackShadow: rgba(0, 0, 0, 0.75);
$darkTeal: rgba(13, 31, 34, 0.72);

$fb-cl:#3B579D;
$twt-cl:#00ACED;
$youtube-cl:#DB2829;
$github-cl:#353C45;
$slack-cl:#4D394B;

$top-z-index: 300;
