{{!< default}}

<div class="error">
	<p>Sorry! This page appears to be missing.</p>
	<p>In the meantime if you want to do something cool</p>
	<div id="flip">Click Here</div>
	<div id="panel"><canvas id="canvas" width="800px" height="500px" onkeypress="scrollTo(canvas)"></canvas>
	</div>
</div>