{{!< default}}

<div class="error">
	<p>Sorry! This page appears to be missing.</p>
	<p>In the meantime if you want to do something cool</p>
	<div id="flip">Click Here</div>
	<div id="panel"><canvas width="800px" height="500px" onkeypress="scrollTo(canvas)" id="canvas" style="background-image: url(../img/cover.png)"></canvas>
	</div>
</div>

<script type="text/javascript" src="{{asset "special-scripts/error.js"}}"></script>
