{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

<main class="home-page">

	{{! The big featured header }}
	<section class="lab-gallery">
		{{> "carousel" }}
	</section >

	{{! The big featured who we are section }}
	<section class="section-who-we-are">
		{{> "who-we-are"}}
	</section>

	{{! The big featured coworking}}
	<section class="coworking">
		{{> "coworking"}}
	</section>

	{{! The big featured last events}}
	<section class="last-events">
		{{> "last-events"}}
	</section>

	{{! The big featured youtube}}
	<section class="youtube-feature">
		{{> "last-youtube-videos"}}
	</section>

	{{! The big featured news}}
	<section class="news">
		{{> "last-news"}}
	</section>

	{{! The big featured sponsors}}
	<section class="home-sponsors">
		{{> "home-sponsors"}}
	</section>

	{{! The big featured contacts}}
	<section class="home-contacts">
		{{> "contacts"}}
	</section>

	<section class="player">
		<iframe width="420" height="315" src="https://gaming.youtube.com/embed/hdcSyE1sekc" frameborder="0" allowfullscreen></iframe>
	</section>

</main>
