{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

<main class="home-page">

	{{! The big featured header }}
	<section class="carousel">
		{{> "carousel" }}
	</section >

	<div class="homepage-container">
		{{! The big featured who we are section }}
		<section class="who-we-are">
			{{> "who-we-are"}}
		</section>

		{{! The big featured coworking}}
		<section class="coworking">
			{{> "coworking"}}
		</section>

		{{! The big featured last events}}
		<section class="last-events">
			{{> "last-events"}}
		</section>

		{{! The big featured stream from youtube}}
		<section class="player">
			{{> "stream-player"}}
		</section>

		{{! The big featured youtube}}
		<section class="youtube-feature">
			{{> "last-youtube-videos"}}
		</section>

		{{! The big featured news}}
		<section class="news">
			{{> "last-news"}}
		</section>

		{{! The big featured sponsors}}
		<section class="home-sponsors">
			{{> "home-sponsors"}}
		</section>
	</div>

	{{! The big featured contacts}}
	<section class="home-contacts">
		{{> "contacts"}}
	</section>
</main>
