{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

{{! The big featured header }}
<div>
  {{> "carousel" }}
</div>

{{! The big featured who we are section }}
<div>
  {{> "who-we-are"}}
</div>

{{! The big featured coworking}}
<div>
  {{> "coworking"}}
</div>

{{! The big featured last events}}
<div>
  {{> "last-events"}}
</div>

{{! The big featured youtube}}
<div>
  {{> "last-youtube-videos"}}
</div>

{{! The big featured news}}
<div>
  {{> "last-news"}}
</div>

{{! The big featured sponsors}}
<div>
  {{> "home-sponsors"}}
</div>

{{! The big featured news}}
<div>
  {{> "contacts"}}
</div>
