{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}


<section class="content animated fadeInDownBig" role="main">

    <article class="{{post_class}} main-article">

        {{! Everything inside the #post tags pulls data from the post }}
        {{#post}}

        
        <div class="inner">

            {{content}}

            </div>
        </div>

	 </article>
            
           


        {{/post}}
   
 </section>