{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

{{> logo}}

<section class="zara-page content animated fadeInDownBig" role="main">

    <article class="page main-article">

        {{! Everything inside the #post tags pulls data from the post }}
        {{#post}}

        <div class="inner">

            {{content}}
            <div class="contact-container">
              <div class="contact-row">

                <div class="details-container">
                  <div id="contact-details" class="row-contact">

                    <div class="detail-componet">
                      <div class="icon-holder">
                        <i class="fa fa-map-marker fa-3x"></i>
                      </div>
                      <div class="icon-text-holder">
                        <p>Адрес:</p>
                        <address class="">
                          <p class="address">
                            бул. “Княз Александър Батенберг” 28
                          </p>
                        </address>
                      </div>
                    </div>

                    <div class="detail-componet">
                      <div class="icon-holder">
                        <i class="fa fa-phone fa-3x"></i>
                      </div>
                      <div class="icon-text-holder">
                        <p>Телефон:</p>


                          <p class="address">
                            088 299 0709
                          </p>
                      </div>
                    </div>

                    <div class="detail-componet">
                      <div class="icon-holder">
                        <i class="fa fa-envelope fa-3x"></i>
                      </div>
                      <div class="icon-text-holder">
                        <p>Имейл адрес:</p>

                          <p class="address">
                            info@zaralab.org
                          </p>
                      </div>
                    </div>

                    <div class="detail-componet">
                      <div class="icon-holder">
                        <i class="fa fa-clock-o fa-3x"></i>
                      </div>
                      <div class="icon-text-holder work-time-component">
                          <p class="work-time-title">Работно Време:</p>

                          <p class="work-time-days">
                            Понеделник-Петък
                          </p>
                          <p class="work-time">
                            9:00 - 18:00
                          </p>

                          <p class="work-time-days">
                            Събота-Неделя
                          </p>

                          <p class="work-time">
                            Почивни дни
                          </p>

                      </div>
                    </div>

                  </div>



              </div>
            </div>

            <div class="contact-row">
              {{> map}}
            </div>
            </div>
        </div>

	  </article>

        {{/post}}

 </section>
