{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}
  {{#post}}

		<div id="zaralab-content">
			<div class="zaralab-unit zaralab-video-info">
				<div class="zaralab_vid_play"></div>
			</div>
			
			<div class = "zaralab-unit zaralab-video-list">
				<div class="zaralab_youtube_channels"></div>
			</div>
		</div>

  {{/post}}
