@charset "UTF-8";
.ta-c {
  text-align: center !important;
}

html, body {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0 0 810px;
  color: #333333;
  font-size: 14px;
  font-family: "Fira Sans", sans-serif;
  background: #fff;
  overflow-scrolling: touch;
  text-size-adjust: 100%;
}

*, *:after, *:before {
  box-sizing: border-box;
}

*:focus {
  outline: 0;
}

section,
article,
footer,
header,
video {
  display: block;
}

h1, h2, h3 {
  color: #333333;
  font-weight: 400;
  margin: 0 0 20px;
  text-align: center;
}

h2 {
  color: #333333;
  font-size: 36px;
}

h3 {
  color: #555555;
  font-size: 20px;
  font-weight: 300;
}

a {
  color: #555555;
  text-decoration: none;
}
a:hover {
  color: #dbdbdb;
  text-decoration: none;
}

img {
  display: inline-block;
  max-width: 100%;
  max-height: 100%;
  border: 0;
  vertical-align: middle;
}

ul, ol, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.animated {
  animation-fill-mode: both;
  animation-duration: 1s;
}

.animated.hinge {
  animation-duration: 1s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fadeIn {
  animation-name: fadeIn;
}

@keyframes fadeInDownBig {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.fadeInDownBig {
  animation-name: fadeInDownBig;
}

@keyframes fadeInLeftBig {
  0% {
    opacity: 0;
    transform: translateX(-2000px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.fadeInLeftBig {
  animation-name: fadeInLeftBig;
}

@keyframes fadeInRightBig {
  0% {
    opacity: 0;
    transform: translateX(2000px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.fadeInRightBig {
  animation-name: fadeInRightBig;
}

.fadeInRightBig {
  animation-name: fadeInRightBig;
}

#wrap {
  animation-delay: 0.5s;
}

.content-home .post.result {
  animation-delay: 1s;
  text-align: center;
  float: none;
  width: 90%;
  margin-bottom: 0;
}

.content-home .post.result .inner {
  max-width: 100%;
}

.content-home .wrapper:before {
  animation: fadeFromBottom 2s ease-in-out forwards;
}

@keyframes fadeFromBottom {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes glowing {
  0% {
    box-shadow: 0 0 0 #59A426;
  }
  50% {
    box-shadow: 0 0 10px #59A426;
  }
  100% {
    box-shadow: 0 0 0 #59A426;
  }
}
.content-home .wrapper {
  position: relative;
}

.content-home .wrapper:before {
  position: absolute;
  content: "";
  clear: both;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  background: url(../img/steps.svg) top center/24px repeat-y;
}

.post,
#disqus_thread {
  clear: both;
  width: 90%;
  max-width: 940px;
  margin: 0 auto 80px auto;
  border-radius: 7px;
}

#disqus_thread {
  padding: 40px;
}

.post-tags {
  padding: 3px 0;
  color: #ccc;
  font-size: 14px;
  margin: 10px 0 20px 0;
}

.post-tags a {
  color: #474747;
  text-decoration: none;
}

.post-tags a:hover {
  color: #474747;
  text-decoration: underline;
}

input[type=text],
input[type=email],
input[type=tel],
input[type=url],
input[type=password],
textarea {
  border: none;
  padding: 18px 12px;
  -webkit-appearance: none;
  border-radius: 0;
  outline: none;
  font-family: 'Helvetica Neue', Helvetica, Arial, Verdana, sans-serif;
  font-size: 16px;
  width: 100%;
  background: #f7f7f7;
  background: rgba(0, 0, 0, 0.03);
}

html {
  height: 100%;
  max-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  color: #3a4042;
  font-size: 16px;
  font-family: 'Open Sans', Arial, Verdana, sans-serif;
  background-size: cover;
}

body.home-template,
body.archive-template {
  overflow-x: hidden;
}

body,
html {
  background-color: #000;
}

h1,
h2,
h3,
h4,
h5,
h6,
.header,
.post-tags,
time,
.more,
.pagination,
.share,
.blog-title {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.4;
}

h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 10px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 19px;
}

h6 {
  font-size: 17px;
}

.blog-title {
  font-size: 36px;
}

.blog-title a {
  color: #fff;
}

.main-logo {
  display: inline-block;
  margin-left: -24px;
  font-size: 0;
}

.main-logo:hover {
  opacity: 0.8;
  filter: alpha(opacity=80);
}

.blog-title a,
.blog-title a:hover {
  text-decoration: none;
}

.blog-tagline {
  font-size: 14px;
  margin-top: 10px;
  opacity: .8;
  color: #fff;
  position: relative;
}

::-moz-selection {
  color: #fff;
  background: #91be82;
  text-shadow: none;
}

::selection {
  color: #fff;
  background: #91be82;
  text-shadow: none;
}

a {
  color: #4f9222;
  text-decoration: underline;
}

a:hover {
  color: #222;
  text-decoration: underline;
}

a,
a:hoverp {
  transition: all 0.25s ease-in;
}

.fader,
#wrap {
  transition: all 0.5s ease-in;
}

.fader {
  opacity: .25;
  filter: alpha(opacity=25);
}

p {
  margin: 1em 0;
  line-height: 1.7;
}

ul,
ol {
  margin: 1.6em 0;
  line-height: 1.7;
}

ul,
ol {
  margin: 1.6em 1.75em;
}

ol ol,
ul ul,
ul ol,
ol ul {
  margin: 0.4em 1.25em;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #eaeaea;
  margin: 3.2em 0;
  padding: 0;
}

blockquote:before {
  content: '“';
  font-size: 60px;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Coda", Georgia, "Times New Roman", serif;
  font-weight: 800;
  color: #ccc;
}

blockquote:after {
  content: '”';
  font-size: 60px;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 0;
  right: 0;
  font-family: "Coda", Georgia, "Times New Roman", serif;
  font-weight: 800;
  color: #ccc;
}

blockquote {
  position: relative;
  margin: 20px 0;
  border-right: none;
  border-left: none;
  font-size: 130%;
  text-align: center;
  padding: 1.5em 1.5em 2.5em;
}

blockquote p {
  margin: 0.8em 0;
  font-style: italic;
}

blockquote small {
  display: inline-block;
  margin: 0.8em 0 0.8em 1.5em;
  font-size: 0.9em;
  color: #ccc;
}

blockquote cite {
  font-weight: bold;
}

dl {
  margin: 1.6em 0;
}

dl dt {
  float: left;
  width: 180px;
  overflow: hidden;
  clear: left;
  text-align: right;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: bold;
  margin-bottom: 1em;
}

dl dd {
  margin-left: 200px;
  margin-bottom: 1em;
}

mark {
  background-color: #ffc336;
}

code,
tt {
  padding: 3px;
  font-family: "Courier New", monospace, sans-serif;
  white-space: pre;
  border: 1px solid #E3EDF3;
  background: #F7FAFB;
  border-radius: 2px;
}

pre {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 1.6em 0;
  border: 1px solid #E3EDF3;
  width: 100%;
  padding: 20px;
  font-family: "Courier New", monospace, sans-serif;
  white-space: pre;
  overflow: auto;
  background: #F7FAFB;
  border-radius: 3px;
}

pre code,
tt {
  font-size: inherit;
  white-space: -moz-pre-wrap;
  white-space: pre-wrap;
  background: transparent;
  border: none;
  padding: 0;
}

kbd {
  display: inline-block;
  margin-bottom: 0.4em;
  padding: 1px 8px;
  border: #ccc 1px solid;
  color: #666;
  text-shadow: #fff 0 1px 0;
  font-size: 0.9em;
  font-weight: bold;
  background: #f4f4f4;
  border-radius: 4px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 1px 0 0 #fff inset;
}

table {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 1.6em 0;
  width: 100%;
  max-width: 100%;
  background-color: transparent;
}

table th,
table td {
  padding: 8px;
  line-height: 20px;
  text-align: left;
  vertical-align: top;
  border-top: 1px solid #efefef;
}

table th {
  color: #000;
}

table caption + thead tr:first-child th,
table caption + thead tr:first-child td,
table colgroup + thead tr:first-child th,
table colgroup + thead tr:first-child td,
table thead:first-child tr:first-child th,
table thead:first-child tr:first-child td {
  border-top: 0;
}

table tbody + tbody {
  border-top: 2px solid #efefef;
}

table table table {
  background-color: #222;
}

table tbody > tr:nth-child(odd) > td,
table tbody > tr:nth-child(odd) > th {
  background-color: #f6f6f6;
}

tbody > tr:nth-child(odd) > td,
tbody > tr:nth-child(odd) > th {
  background: transparent;
}

.inner {
  position: relative;
  margin: 0 auto;
}

.vertical {
  display: table-cell;
  vertical-align: middle;
}

.content-home .post {
  background-color: #fff;
}

.content-home .post.featured {
  background-image: url(../img/assets.svg#featured);
  background-position: 100% 100%;
  background-repeat: no-repeat;
  background-size: 50px 50px;
}

.content-home .wrapper {
  height: 100%;
  padding-top: 40px;
}

.content-home h1 {
  font-size: 34px;
  margin-bottom: 0;
  line-height: 1.4;
}

.content-home h2 a,
.content-home h1 a {
  color: #3a4042;
  text-decoration: none;
}

.content-home h2 a:hover,
.content-home h1 a:hover {
  color: #4f9222;
  text-decoration: none;
}

a.more,
.older-posts,
.newer-posts {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  text-align: center;
  padding: 10px 30px;
  border-radius: 4px;
  background-color: #479812;
}

.older-posts,
.newer-posts {
  color: #fff !important;
}

a.more:hover,
.older-posts:hover,
.newer-posts:hover {
  color: #fff;
  border-color: #222;
  text-decoration: none;
}

a.more:hover {
  background-color: #59a426;
}

.content-home .post .inner {
  padding: 30px 20px;
}

.home-template img,
.archive-template img {
  border-radius: 4px;
}
.home-template .post-title,
.archive-template .post-title {
  font-size: 18px;
  font-weight: 300;
  margin: 14px 0 20px 10px;
}
.home-template .time,
.archive-template .time {
  position: absolute;
  top: -17px;
  left: 50%;
  width: 40px;
  height: 44px;
  margin-left: -20px;
  color: #fff;
  text-align: center;
  font-size: 12px;
}
.home-template .time time,
.archive-template .time time {
  display: flex;
  flex-direction: column;
  height: 100%;
  border-radius: 4px;
  background-color: #59A426;
}
.home-template .time time > span,
.archive-template .time time > span {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.home-template .time time > span:nth-child(1),
.archive-template .time time > span:nth-child(1) {
  font-size: 10px;
  height: 30px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.home-template .time time > span:nth-child(2),
.archive-template .time time > span:nth-child(2) {
  flex: 0 1 100%;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  font-size: 18px;
}

#wrap {
  display: inline-block;
  position: relative;
  width: 100%;
  z-index: 200;
  margin-bottom: 100px;
}

#bg {
  display: inline-block;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: transparent url(../img/cover.png) no-repeat 50% 50%/cover;
  animation: fadeIn 1s linear;
  z-index: 100;
}

.panel {
  position: fixed;
  left: -15.625em;
  /*left or right and the width of your navigation panel*/
  width: 15.625em;
  /*should match the above value*/
  height: 100%;
  background-color: #fff;
  padding-top: 15px;
  z-index: 300;
}

.panel a,
.panel p {
  color: #333;
  text-decoration: none;
  padding: 15px 20px;
  display: block;
}

.panel p {
  padding-bottom: 0;
}

.panel p {
  font-style: oblique;
  opacity: .9;
  filter: alpha(opacity=90);
}

.menu-link {
  position: absolute;
  right: -50px;
  top: 20px;
  color: #fff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-decoration: none;
  font-size: 25px;
  z-index: 10;
  width: 28px;
  height: 44px;
  display: none;
  padding: 15px;
}

.menu-link span {
  text-indent: -99999em;
  position: absolute;
  width: 78%;
  background-color: #fff;
  left: 0;
  height: 4px;
  border-radius: 20px;
}

.menu-link:before,
.menu-link:after {
  content: ' ';
  background-color: #fff;
  width: 78%;
  margin-top: -9px;
  position: absolute;
  left: 0;
  height: 4px;
  border-radius: 20px;
}

.menu-link:after {
  margin-top: 9px;
  width: 50%;
}

.menu-link:hover {
  text-decoration: none;
  color: #fff;
}

.post-template .post,
#disqus_thread {
  background-color: #fff;
}

.post-template .post img {
  border-radius: 4px;
  margin-bottom: 20px;
  border: 1px solid rgba(255, 255, 255, 0.6);
}

.post-template .post .inner {
  padding: 40px 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #222;
}

.post-template .post h1 {
  color: #444;
  font-size: 30px;
  line-height: 1.2;
  margin-bottom: 40px;
}

.share,
.post-template .post-tags {
  color: #474747;
  font-size: 16px;
}

.share {
  text-align: right;
  color: #919191;
}

.share a {
  text-decoration: none;
}

.share a:hover {
  text-decoration: none;
}

.author {
  margin-top: 20px;
  padding: 40px 20px 20px 20px;
  text-align: center;
}

.author a {
  text-decoration: none;
}

.author a:hover {
  text-decoration: underline;
}

.author h4 {
  text-align: center;
}

.author-bio {
  text-align: left;
}

.event {
  position: absolute;
  bottom: 38px;
  right: 40px;
  padding: 2px 10px;
  border-radius: 4px;
  background-color: #59A426;
  color: #fff;
  text-align: center;
  text-decoration: none !important;
}
.event:before {
  content: '';
  display: block;
}
.event:hover {
  color: #fff;
  background-color: #509322;
}

.post-template .time {
  position: absolute;
  top: 14px;
  right: 14px;
  color: #59A426;
  font-size: 14px;
  text-align: right;
  opacity: 0.6;
}

.pagination > nav {
  position: relative;
  width: 400px;
  margin: 0 auto;
  color: #fff;
  font-size: 0;
  text-align: center;
  padding: 30px 0;
  min-height: 150px;
}
.pagination > nav a {
  display: inline-block;
  font-size: 14px;
  color: #222;
  text-decoration: none;
}
.pagination > nav a:hover {
  color: #2c2c2c;
  text-decoration: none;
}

.page-number {
  font-size: 14px;
  display: inline-block;
  margin-right: 1rem;
}

.header {
  text-align: center;
  padding: 30px 0 40px 0;
}

.main-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100px;
  width: 100%;
  background: #222;
  background: rgba(0, 0, 0, 0.8);
  padding: 0 30px;
  font-size: 14px;
  color: #9c9c9c;
  z-index: 200;
}

.main-footer .inner {
  margin: 40px 0;
}

.main-footer a {
  color: #f7f7f7;
  text-decoration: none;
}

.main-footer a:hover {
  color: #ccc;
}

.main-footer p {
  margin: 0 0 0.5em;
}

a.subscribe-me {
  float: right;
}

/*================ Social share buttons ================*/
.social-sharing {
  display: flex;
  flex-wrap: nowrap;
  margin-top: 60px;
}
.social-sharing a {
  display: flex;
  align-items: center;
  color: #fff !important;
  margin-right: 10px;
  height: 28px;
  border-radius: 3px;
  text-decoration: none;
  font-weight: normal;
}
.social-sharing a:hover {
  color: #fff;
}
.social-sharing span {
  font-size: 12px;
  font-weight: 300;
}
.social-sharing svg {
  margin: 0 8px 0 8px;
}
.social-sharing .share-title {
  font-size: 12px;
  padding-right: 10px;
}

.share-facebook {
  background-color: #3b5998;
}
.share-facebook:hover {
  background-color: #2d4373;
}
.share-facebook svg {
  margin: 0 4px 0 4px;
}

.share-twitter {
  background-color: #00aced;
}
.share-twitter:hover {
  background-color: #0087ba;
}

.share-pinterest {
  background-color: #cb2027;
}
.share-pinterest:hover {
  background-color: #9f191f;
}

.share-google {
  background-color: #dd4b39;
}
.share-google:hover {
  background-color: #c23321;
}

.share-count {
  position: relative;
  height: 100%;
  line-height: 28px;
  background-color: #fff;
  padding: 0 8px;
  margin-right: -2px;
  color: #333;
  border-radius: 0 3px 3px 0;
  opacity: 0;
  -webkit-transition: opacity 0.2s ease-in;
  -moz-transition: opacity 0.2s ease-in;
  -o-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
}
.share-count.is-loaded {
  opacity: 1;
}
.share-count:before, .share-count:after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  margin-top: -6px;
  width: 0;
  height: 0;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-right: 6px solid;
}
.share-count:before {
  left: -6px;
  border-right-color: #ececec;
}
.share-count:after {
  left: -5px;
  border-right-color: #fff;
}
a:hover .share-count {
  background-color: whitesmoke;
}
a:hover .share-count:after {
  border-right-color: whitesmoke;
}
.is-large .share-count {
  font-size: 18px;
  padding: 0 14px;
}

@media only screen and (min-width: 980px) {
  .content-home {
    padding-bottom: 60px;
  }
  .content-home .wrapper {
    padding-top: 30px;
    padding-bottom: 80px;
  }
  .content-home .pagination {
    margin-top: -30px;
  }

  .author h4 {
    text-align: left;
  }

  .author img {
    height: auto;
    float: left;
  }

  .author-bio {
    padding-left: 100px;
  }

  blockquote:before,
  blockquote:after {
    font-size: 100px;
  }

  blockquote {
    padding-bottom: 3.5em;
  }

  .post,
  #disqus_thread {
    background-color: rgba(255, 255, 255, 0.9) !important;
  }

  .post::after {
    opacity: 0.9;
  }

  .content-home {
    margin: 0 auto;
    width: 90%;
    max-width: 1060px;
  }
  .content-home .post-title:hover + .time {
    animation: glowing 1500ms infinite;
  }

  .wrapper,
  .pagination {
    float: left;
    width: 100%;
  }

  .content-home .post {
    float: right;
    width: 44%;
    margin-bottom: -30px;
    position: relative;
  }
  .content-home .post .time {
    position: absolute;
    top: 18px;
    left: auto;
    width: 60px;
    height: 64px;
    margin: 0;
    border-radius: 4px;
    border-size: 2px;
    border-radius: 6px;
    border: 2px solid rgba(0, 0, 0, 0.08);
  }
  .content-home .post .time:hover {
    animation: glowing 1500ms infinite;
  }
  .content-home .post .time time > span:nth-child(1) {
    font-size: 12px;
    height: 36px;
  }
  .content-home .post .time time > span:nth-child(2) {
    font-size: 26px;
  }

  .content-home .post.odd:after {
    right: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }
  .content-home .post.odd .time {
    left: -96px;
  }

  .content-home .post.odd:after {
    border-color: rgba(255, 255, 255, 0);
    border-right-color: #fff;
    border-width: 10px;
    top: 40px;
    margin-top: -10px;
  }

  .content-home .post.even {
    float: left;
    margin-top: -160px;
  }

  .content-home .post.even {
    margin-top: -60px;
  }
  .content-home .post.even:after {
    left: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(255, 255, 255, 0);
    border-left-color: #fff;
    border-width: 10px;
    top: 40px;
    margin-top: -10px;
  }
  .content-home .post.even .time {
    right: -96px;
  }

  .content-home .post .inner {
    padding: 10px 20px 20px;
  }
}
@media only screen and (min-width: 58.125em) {
  /* 938px */
}
/* ------------------------------------

  10. Retina / Hi-DPI

------------------------------------ */
@media only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 1.5 / 1), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  .main-logo img {
    max-width: 85px;
  }
}
.page.main-article .inner {
  position: relative;
  padding: 100px 20px 40px;
}
.page.main-article .inner h1 {
  position: absolute;
  cursor: default;
  animation-name: headingSlide;
  animation-duration: 1s;
  top: 0.5rem;
  left: 0.25rem;
  right: 0.25rem;
  padding: 1.5rem;
  margin: auto 0;
  height: 5rem;
  color: white;
  background-color: #2E2E2E;
  background-image: url(/content/images/page/header-pattern.png);
  background-position: left;
  border-radius: 7px;
  transition: 1s;
}
.page.main-article .inner h1:hover {
  text-shadow: 2px 2px 10px white;
  padding: 1.3rem;
  font-size: 2.2em;
}
.page.main-article .inner p {
  position: relative;
  border-left: 5px solid #1F8475;
  padding-left: 20px;
}
.page.main-article .inner p:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
}

@keyframes headingSlide {
  from {
    top: -9999px;
  }
  to {
    top: 0.5rem;
  }
}
