<!-- Start Carousel ================================================== -->

{{#get "posts" limit="5" include="tags" filter="tags:carousel+page:true" order="count.posts desc" as |carousels| }}
<div id="slider" class="border-top-bottom">
	<figure>
		{{#foreach carousels}}

		<!-- <img src="{{image}}" alt="{{title}}" height="500px"> -->
		<img src="{{image}}" alt="">
		{{/foreach}}
	</figure>
</div>
{{/get}}

<!-- End Carousel ==================================================== -->
