<h3>
  Coworking
</h3>
<!-- Start Coworking ======================================================= -->

{{#get "posts" limit="1" include="tags" filter="tags:coworking+page:true" order="count.posts desc" as |coworking| }}
 {{#foreach coworking}}
   {{content}}
 {{/foreach}}
{{/get}}
<!-- End Coworking ========================================================= -->
