<h3>
  Last youtube video
</h3>
<!-- Start Last youtube videos ============================================= -->
<div id="last-youtube-videos" >
  
</div>

<!-- video modal -->
<section class="video-modal">

    <!-- Modal Content Wrapper -->
    <div id="video-modal-content" class="video-modal-content">

       <img class="video-sizer"
            src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAKAAAABaAQAAAAAXvWD/AAAAAnRSTlMAAHaTzTgAAAAWSURBVHgBY6ABGAWjYBSMglEwCkYBAAdiAAFufS70AAAAAElFTkSuQmCC"/>

       <iframe id="youtube"
               width="100%"
               height="100%"
               frameborder="0"
               allowfullscreen
               src= >
       </iframe>

        <a href="#"
        	 class="close-video-modal">
        	Close Video
        </a>

    </div><!-- end modal content wrapper -->


    <!-- Overlay Element -->
    <div class="overlay"></div>

</section>
<!-- end video modal -->
<!-- End Last youtube videos ============================================= -->
