{{! The big featured header on the homepage, with the site logo and description }}
<header class="zara-logo header animated fadeInDownBig">
  <a class="main-logo" href="{{@blog.url}}" alt="{{@blog.title}} Logo">
    <svg width="173" height="60">
      <use xlink:href="/assets/img/assets.svg#logo"></use>
    </svg>
  </a>
</header>