<!-- Start Maps ============================================================ -->
<div id="maps">
  <div id="map">
    <iframe
      style="pointer-events: none;"
      width="100%"
      height="100%"
      frameborder="0"
      src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBGRXhWbIOEGtnLAnAGUM8lXxWegunJ0Cw
        &q=bul.%20%22Knyaz%20Aleksandar%20Batenberg%22%2028%2C%206003%20Stara%20Zagora%2C%20Bulgaria"
      allowfullscreen>

    </iframe>
  </div>
  <div id="pano">
    <iframe
      style="pointer-events: none;"
      width="100%"
      height="100%"
      frameborder="0"
      src="https://www.google.com/maps/embed?pb=!1m0!3m2!1sbg!2sus!4v1465929302501!6m8!1m7!1s9GYaBFtMJfcYGTalIkWZ6w!2m2!1d42.42466519920887!2d25.61616693171287!3f24.27!4f8.629999999999995!5f1.3821289112843296"
      allowfullscreen>
    </iframe>
  </div>
</div>
<!-- End Maps ============================================================== -->
