<nav id="menu" class="panel" role="navigation">

 <a href="#menu" class="menu-link"><span>Open Menu</span></a>

  <ul>
        {{#foreach navigation}}
            <li class="nav-{{slug}}{{#if current}} nav-current{{/if}}" role="presentation"><a href="{{url absolute="true"}}">{{label}}</a></li>
        {{/foreach}}
  </ul>

  <ul class="social-nav">
    <li>
      <a class="twitter" href="#"><i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i></a>
    </li>
    <li>
      <a class="facebook" href="#"><i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i></a>
    </li>
    <li>
      <a class="youtube" href="#"><i class="fa fa-youtube-square fa-2x" aria-hidden="true"></i></a>
    </li>
    <li>
      <a class="github" href="#"><i class="fa fa-github-square fa-2x" aria-hidden="true"></i></a>
    </li>
    <li>
      <a class="slack" href="#"><i class="fa fa-slack-square fa-2x" aria-hidden="true"></i></a>
    </li>
  </ul>
</nav>
