<div class="pricing pricing-plan">
    <div class="pricing-item">
        <h3 class="pricing-title">Споделено Бюро</h3>
        <div class="pricing-price">80<span class="pricing-currency">лв</span><span class="pricing-period">/ мес.</span></div>
        <ul class="pricing-feature-list">
            <li class="pricing-feature">5 GB of space</li>
            <li class="pricing-feature">Unlimited traffic</li>
            <li class="pricing-feature">Forum access</li>
            <li class="pricing-feature">Support at $5/hour</li>
        </ul>
    </div>
    <div class="pricing-item">
        <h3 class="pricing-title">Самостоятелно Бюро</h3>
        <div class="pricing-price">120<span class="pricing-currency">лв</span><span class="pricing-period">/ мес.</span></div>
        <ul class="pricing-feature-list">
            <li class="pricing-feature">20 GB of space</li>
            <li class="pricing-feature">Unlimited traffic</li>
            <li class="pricing-feature">Forum access</li>
            <li class="pricing-feature">Free support</li>
        </ul>
    </div>
    <div class="pricing-item">
        <h3 class="pricing-title">Зала за Презентации</h3>
        <div class="pricing-price">40<span class="pricing-currency">лв</span><span class="pricing-period">/ час</span></div>
        <ul class="pricing-feature-list">
            <li class="pricing-feature">20 GB of space</li>
            <li class="pricing-feature">Unlimited traffic</li>
            <li class="pricing-feature">Forum access</li>
            <li class="pricing-feature">Free support</li>
        </ul>
    </div>
    <div class="pricing-item">
        <h3 class="pricing-title">Членство</h3>
        <div class="pricing-price">10<span class="pricing-currency">лв</span><span class="pricing-period">/ мес.</span></div>
        <ul class="pricing-feature-list">
            <li class="pricing-feature">1 GB of space</li>
            <li class="pricing-feature">Unlimited traffic</li>
            <li class="pricing-feature">Forum access</li>
            <li class="pricing-feature">Support at $25/hour</li>
        </ul>
    </div>
</div>

<!-- Start Coworking ======================================================= -->

<!-- {{#get "posts" limit="1" include="tags" filter="tags:coworking+page:true" order="count.posts desc" as |coworking| }}
 {{#foreach coworking}}
   {{content}}
 {{/foreach}}
{{/get}} -->
<!-- End Coworking ========================================================= -->
