<div class="pricing pricing-plan">
    <div class="pricing-item">
        <div class="icon icon--bicycle"></div>
        <h3 class="pricing-title">Membership</h3>
        <div class="pricing-price">259<span class="pricing-currency">лв</span><span class="pricing-period">/ year</span></div>
        <ul class="pricing-feature-list">
            <li class="pricing-feature">1 GB of space</li>
            <li class="pricing-feature">Unlimited traffic</li>
            <li class="pricing-feature">Forum access</li>
            <li class="pricing-feature">Support at $25/hour</li>
        </ul>
    </div>
    <div class="pricing-item">
        <div class="icon icon--bus"></div>
        <h3 class="pricing-title">Coworking Desk</h3>
        <div class="pricing-price">259<span class="pricing-currency">лв</span><span class="pricing-period">/ year</span></div>
        <ul class="pricing-feature-list">
            <li class="pricing-feature">5 GB of space</li>
            <li class="pricing-feature">Unlimited traffic</li>
            <li class="pricing-feature">Forum access</li>
            <li class="pricing-feature">Support at $5/hour</li>
        </ul>
    </div>
    <div class="pricing-item">
        <div class="icon icon--train"></div>
        <h3 class="pricing-title">Privete Desk</h3>
        <div class="pricing-price">259<span class="pricing-currency">лв</span><span class="pricing-period">/ year</span></div>
        <ul class="pricing-feature-list">
            <li class="pricing-feature">20 GB of space</li>
            <li class="pricing-feature">Unlimited traffic</li>
            <li class="pricing-feature">Forum access</li>
            <li class="pricing-feature">Free support</li>
        </ul>
    </div>
    <div class="pricing-item">
        <div class="icon icon--train"></div>
        <h3 class="pricing-title">Presentation Room</h3>
        <div class="pricing-price">259<span class="pricing-currency">лв</span><span class="pricing-period">/ year</span></div>
        <ul class="pricing-feature-list">
            <li class="pricing-feature">20 GB of space</li>
            <li class="pricing-feature">Unlimited traffic</li>
            <li class="pricing-feature">Forum access</li>
            <li class="pricing-feature">Free support</li>
        </ul>
    </div>
</div>

<!-- Start Coworking ======================================================= -->

<!-- {{#get "posts" limit="1" include="tags" filter="tags:coworking+page:true" order="count.posts desc" as |coworking| }}
 {{#foreach coworking}}
   {{content}}
 {{/foreach}}
{{/get}} -->
<!-- End Coworking ========================================================= -->
