<!-- Start Social Links ==================================================== -->
<ul class="social-nav">
  <li>
    <a class="twitter" href="https://twitter.com/zaralab"><i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i></a>
  </li>
  <li>
    <a class="facebook" href="https://www.facebook.com/zaralabbg"><i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i></a>
  </li>
  <li>
    <a class="youtube" href="https://www.youtube.com/channel/UCDllkYLP6M2_zP3lzDeB5dg"><i class="fa fa-youtube-square fa-2x" aria-hidden="true"></i></a>
  </li>
  <li>
    <a class="github" href="https://github.com/zara-lab"><i class="fa fa-github-square fa-2x" aria-hidden="true"></i></a>
  </li>
  <li>
    <a class="slack" href="http://slack.zaralab.org/"><i class="fa fa-slack fa-2x" aria-hidden="true"></i></a>
  </li>
</ul>
<!-- End Social Links ====================================================== -->
