<nav id="menu" class="panel" role="navigation">

 <a href="#menu" class="menu-link"><span>Open Menu</span></a>

  <ul>
    <li>
      <a href="/about">За Нас</a>
    </li>
    <li>
      <a href="/">Евенти</a>
    </li>
    <li>
      <a href="/">Спонсори</a>
    </li>
    <li>
      <a href="/contacts">Контакти</a>
    </li>
  </ul>

</nav>