<!-- <div class="tv-frame"></div> -->
<!-- TV ====================================================== -->
<h2> Stream Player</h2>

  {{#get "posts" limit="1" include="tags" filter="tags:stream-player+page:true" order="count.posts desc" as |stream-player| }}
   {{#foreach stream-player}}
       <div class="youtube-tv">
         {{content}}

       </div>
   {{/foreach}}
  {{/get}}
<!-- End TV ====================================================== -->
