<h1>
  Stream player
</h1>
<!-- <div class="tv-frame"></div> -->
<!-- TV ====================================================== -->
<div class="homepage-row">
  {{#get "posts" limit="1" include="tags" filter="tags:stream-player+page:true" order="count.posts desc" as |stream-player| }}
   {{#foreach stream-player}}
       <div class="youtube-tv">
         {{content}}

       </div>
   {{/foreach}}
  {{/get}}
</div>
<!-- End TV ====================================================== -->
