<!-- Modal Content Wrapper -->
<div id="video-modal-content" class="video-modal-content">

   <img class="video-sizer"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAKAAAABaAQAAAAAXvWD/AAAAAnRSTlMAAHaTzTgAAAAWSURBVHgBY6ABGAWjYBSMglEwCkYBAAdiAAFufS70AAAAAElFTkSuQmCC"/>


    <a
       id="close-video"
       href="#"
       class="close-video-modal">
       <i class="fa fa-times-circle fa-2x" aria-hidden="true"></i>
    </a>

</div><!-- end modal content wrapper -->


<!-- Overlay Element -->
<div class="overlay"></div>
