<!-- Start Who we are ====================================================== -->
<h2>Who we are</h2>

{{#get "posts" limit="1" include="tags" filter="tags:who-we-are+page:true" order="count.posts desc" as |whoWeAre| }}
 {{#foreach whoWeAre}}

   <div class="who-we-are-content">
     {{content}}
   </div>

 {{/foreach}}
{{/get}}
<!-- End Who we are ======================================================== -->
