<!-- Start Who we are ====================================================== -->
<div class="row-header">
	<h2>Какво е ЗараЛаб?</h2>
</div>

<div class="row-content">

{{#get "posts" limit="1" include="tags" filter="tags:who-we-are+page:true" order="count.posts desc" as |whoWeAre| }}
 {{#foreach whoWeAre}}

   <div class="who-we-are-content">
     {{content}}
   </div>

 {{/foreach}}
{{/get}}
</div>
<!-- End Who we are ======================================================== -->
